<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<style>

</style>
<body>
    <%- include('header') %>
    <div class="row">
        <div id="part-1">
            <%- include('deshboard') %>
     </div>
    <div class="part-2">
        <div class="container">
            <table>
                <tr>
                    <th>icon</th>
                    <th>Account Type</th>
                    <th>Description</th>
                    <th>Action</th>
                    <th><i class="fa-solid fa-plus"></i></th>
                </tr>
                <% account.forEach((item) => { %>
                <tr>
                   <td><img src="/images/<%= item.icon %>" alt="icon" /></td>
                   <td><p><%= item.account_type %></p></td>
                   <td><p><%= item.description %></p></td>
                   <div id="id">
                    <p>ID: <%= item._id %></p>
                </div>
                <div class="icon-boxes">
                    <td id="edit"><a href="/account-type/edit"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td id="bin"><a href=""><i class="fa-solid fa-trash"></i></a></td>
                </div>
                </tr>
                <% }); %>
            </table>
           </div>
  </div>
</div>
</body>
</html>